$theme: 'dark';

%main-box {
  font-size: 20px;
  font-weight: 'bold';
}

.page {
  @if $theme == 'light' {
    background: white;
    color: #444;
  } @else {
    background: #444;
    color: white;
  }
}

$rounded: true;

.box {
  @extend %main-box;
  // border-radius: 6px solid #ccc;
  border-radius: if($rounded, 6px, null);
}
